*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --bgcolor : rgb(25, 23, 27) ; 
}
body{
    background-color: var(--bgcolor);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
ul{
    background-color: whitesmoke;
    width: 400px;
    height: 55px;
    list-style: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul li{
    margin: 0px 5px;
    width: 60px;
    text-align: center;
    position: relative;
}
ul li span{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
ul li p{
    position: absolute;
    bottom: -50px;
    color: rgb(56, 56, 56);
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.8s .2s;
}
ul li i{
    color: var(--bgcolor);
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 1;
}

ul li i.active{
    transform: translateY(-28px);
    color: white;
}
ul li p.active{
    transform: translateY(-50px);
    opacity: 1;
}

ul .circle{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 163, 68);
    border: 3px solid var(--bgcolor);
    border-radius: 50%;
    position: absolute;
    top:-25px;
    left: 35px ;
    transition: 0.3s;
}
ul .circle::before , ul .circle::after{
    content: "";
    display: inline-block;
    position: absolute;
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    top :50%;
    /* background-color: red; */
}
ul .circle::before{
    left: -22px;
    border-top-right-radius: 50%;
    box-shadow: 0px -8px var(--bgcolor);
}

ul .circle::after{
    right: -22px;
    border-top-left-radius: 50%;
    box-shadow: 0px -8px var(--bgcolor);
}



